---
layout: base.njk
title: 所有文章
---

<h1>所有文章</h1>

<div class="posts-list">
    {% set postslist = collections.posts | reverse %}
    {% for post in postslist %}
        <article class="post-item">
            <h2>
                <a href="{{ post.url | url }}">{{ post.data.title }}</a>
            </h2>
            <time datetime="{{ post.date | dateToISO }}">{{ post.date | dateToString }}</time>
            {% if post.data.description %}
                <p class="post-description">{{ post.data.description }}</p>
            {% endif %}
        </article>
    {% endfor %}
</div>
